/* Author: Brian M. Kueck @briankueck */

/* .movieSearchComponent {
	
} */

.movieSearchComponent input {
	border: 1px solid gray;
	border-radius: 4px;
	line-height: 12pt;
	padding: 5px 8px;
}

.movieSearchComponent #ajaxResultsMovies {
	padding-bottom: 25px;
}

.movieSearchComponent #ajaxResultsMovies .movie {
	height: 265px;
	margin: 15px;
	text-align: center;
	width: 150px;
}

.movieSearchComponent #ajaxResultsMovies .movie .poster {
	width: 150px;
}

.movieSearchComponent #ajaxResultsMovies .movie .title {
	font-weight: bold;
	height: 44px;
	overflow: hidden;
	width: 150px;
}

.movieSearchComponent #ajaxResultsMovies .movie .overlay {
	font-size: 8pt;
	height: 225px;
	opacity: 0.85;
	padding: 8px 5px;
	position: absolute;
	text-align: left;
	width: 100%;
}

.movieSearchComponent #ajaxResultsMovies .movie .overlay.hidden {
	display: none;
}

/* I could have done this for the hover effects, but I was building the JavaScript code & wanted to show off my JS work for binding event listeners dynamically.
.movieSearchComponent .movie .overlay { 
	display: none; 
}

.movieSearchComponent .movie:hover .overlay { 
	display: block; 
}
*/

.movieSearchComponent #ajaxResultsMovies .movie .overlay.red {
	background-color: #FFDDDD;
}

.movieSearchComponent #ajaxResultsMovies .movie .overlay.green {
	background-color: #DDFFDD;
}

.movieSearchComponent #ajaxResultsMovies .movie .overlay.blue {
	background-color: #DDDDFF;
}

